.parent {
  display: flex;
}

.child {
  flex-basis: 350px;
  height: 200px;
  max-width: 255px;
  width: 250px;
}

.image {
  width: 1400px;
  height: 1400px;
 display: inline-flex;
    border: 11px solid red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}